@import "tailwindcss";

@theme {
  --color-primary-50: #f0fdf7;
  --color-primary-100: #dcfceb;
  --color-primary-200: #bbf7d3;
  --color-primary-300: #86efac;
  --color-primary-400: #4ade80;
  --color-primary-500: #1e986d;
  --color-primary-600: #1e986d;
  --color-primary-700: #15803d;
  --color-primary-800: #166534;
  --color-primary-900: #14532d;
  --color-primary-950: #052e16;
  --color-primary: #1e986d;
  
  --color-bright: #f8f8f2;
  --color-bright-50: #f8f8f2;
  --color-bright-100: #f5f5f0;
  --color-bright-200: #ededed;
  --color-bright-300: #e5e5e5;
  --color-bright-400: #d4d4d4;
  --color-bright-500: #a3a3a3;
  --color-bright-600: #737373;
  --color-bright-700: #525252;
  --color-bright-800: #404040;
  --color-bright-900: #262626;
  --color-bright-950: #171717;
}
